/* BASIC */
html, body {
  margin: 0;
  padding: 0;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
} hr {
  border: 1px solid;
  border-color: inherit;
} h1 {
  font-size: 44px;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  line-height: 26.4px;
} h2 {
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26.4px;
} h3 {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
} p {
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
} blockquote {
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
} pre {
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
} nav {
  text-align: right;
  height: 734px;
  margin: -16px 0px -8px -4px;
  width: 19%;
} li {
  margin-left: -22px;
  margin-right: 22px;
}

/*  COLORS  */
.light {
  background: linear-gradient(to bottom, rgb(242, 242, 242) 0%,rgb(212, 212, 212) 70%,rgb(182, 182, 182) 100%);
  border-color: #FFB300;
  color: rgb(64, 116, 176);
  height: 100%;
  outline-color: #FFB300;
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}.light nav {
  background: rgb(64, 116, 176);
}.dark {
  background: linear-gradient(to bottom, rgb(42, 42, 42) 0%,rgb(72, 72, 72) 70%,rgb(102, 102, 102) 100%);
  border-color: #FFE082;
  color: rgb(164, 194, 226);
  height: 100%;
  outline-color: #FFE082;
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}.dark nav {
  background: rgb(164, 194, 226);;
}

/*  SPACING  */
.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 8px;
  padding-left: 4px;
  padding-right: 4px;
}.col {
  align-items: center;
  display: inline;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-top: 8px;
  padding-left: 4px;
  padding-right: 4px;
}.ta-l {
  text-align: left;
  align-items: left;
}.ta-c {
  text-align: center;
  align-items: center;
}.ta-r {
  text-align: right;
  align-items: right;
}.va-t {
  vertical-align: top;
}.va-m {
  vertical-align: middle;
}.va-b {
  vertical-align: bottom;
}

/* AWS Gradients */
.heaven-0 { background: #00000c; }
.heaven-1 { background: linear-gradient(to bottom, #020111 85%, #191621 100%); }
.heaven-2 { background: linear-gradient(to bottom, #020111 60%, #20202c 100%); }
.heaven-3 { background: linear-gradient(to bottom, #020111 10%, #3a3a52 100%); }
.heaven-4 { background: linear-gradient(to bottom, #20202c 0%, #515175 100%); }
.heaven-5 { background: linear-gradient(to bottom, #40405c 0%, #6f71aa 80%, #8a76ab 100%); }
.heaven-6 { background: linear-gradient(to bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%); }
.heaven-7 { background: linear-gradient(to bottom, #757abf 0%, #8583be 60%, #eab0d1 100%); }
.heaven-8 { background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%); }
.heaven-9 { background: linear-gradient(to bottom, #94c5f8 1%, #a6e6ff 70%, #b1b5ea 100%); }
.heaven-10 { background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%); }
.heaven-11 { background: linear-gradient(to bottom, #9be2fe 0%, #67d1fb 100%); }
.heaven-12 { background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%); }
.heaven-13 { background: linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%); }
.heaven-14 { background: linear-gradient(to bottom, #2d91c2 0%, #1e528e 100%); }
.heaven-15 { background: linear-gradient(to bottom, #2473ab 0%, #1e528e 70%, #5b7983 100%); }
.heaven-16 { background: linear-gradient(to bottom, #1e528e 0%, #265889 50%, #9da671 100%); }
.heaven-17 { background: linear-gradient(to bottom, #1e528e 0%, #728a7c 50%, #e9ce5d 100%); }
.heaven-18 { background: linear-gradient(to bottom, #154277 0%, #576e71 30%, #e1c45e 70%, #b26339 100%); }
.heaven-19 { background: linear-gradient(to bottom, #163c52 0%, #4f4f47 30%, #c5752d 60%, #b7490f 80%, #2f1107 100%); }
.heaven-20 { background: linear-gradient(to bottom, #071b26 0%, #071b26 30%, #8a3b12 80%, #240e03 100%); }
.heaven-21 { background: linear-gradient(to bottom, #010a10 30%, #59230b 80%, #2f1107 100%); }
.heaven-22 { background: linear-gradient(to bottom, #090401 50%, #4B1d06 100%); }
.heaven-23 { background: linear-gradient(to bottom, #00000c 80%, #150800 100%); }

/* SOCIAL MEDIA ICONS */
.fa {
  padding: 20px;
  font-size: 24px;
  width: 24px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover { opacity: 0.7; }
.fa-facebook { background: #3B5998; color: white; }
.fa-twitter { background: #55ACEE; color: white; }
.fa-linkedin { background: #007bb5; color: white; }
.fa-github { background: #6e5494; color: white; }
.fa-youtube { background: #bb0000; color: white; }
.fa-instagram { background: rgb(222, 55, 94); color: white; }
.fa-pinterest { background: #cb2027; color: white; }
