.card {
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 260px;
  background-color: var(--teal-color);
  border: 1px solid var(--teal-color);
  color: var(--snow-color);
}

.card:hover,
.card:focus,
.card:active {
  border-color: var(--snow-color);
}

.card h3 {
  margin-bottom: 4px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  filter: brightness(90%);
}

@media screen and (max-width: 500px) {
  header {
    justify-content: center;
    text-align: center;
  }
}

nav {
  display: flex;
  flex-direction: column;
  text-align: end;
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
  }

  nav {
    flex-direction: row;
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  gap: 18px;
}

footer a:hover {
  font-size: 20px;
}

hr {
  border: 1px solid inherit;
}

h2 {
  font-size: 32px;
  line-height: 1.2em;
  font-weight: 200;
}

h3 {
  font-family: 'Shadows Into Light Two', cursive;
  letter-spacing: 0.12em;
  font-size: 32px;
  line-height: 1.2em;
  color: var(--dpink-color);
}

h4 {
  font-size: 24px;
  line-height: 1.2em;
}

h5 {
  font-size: 20px;
  line-height: 1.2em;
  color: var(--dpink-color);
}

p {
  font-size: 18px;
  line-height: 1.2em;
}

blockquote {
  font-size: 16px;
  line-height: 1.2em;
  margin: 12px;
}

pre {
  font-size: 14px;
  line-height: 1.2em;
  white-space: pre-wrap;
}

a {
  color: inherit;
  min-height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  font-size: 18px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

/* colors */
:root {
  --white-color: rgb(245, 249, 255);
  --black-color: rgb(34, 37, 42);
  /* #22252A */
  --lblue-color: rgb(183, 208, 247);
  /* #b7d0f7 */
  --mblue-color: rgb(135, 178, 241);
  --dblue-color: rgb(90, 147, 233);
  --lnavy-color: rgb(64, 104, 163);
  --mnavy-color: rgb(51, 89, 145);
  /* #335991 */
  --dnavy-color: rgb(29, 59, 104);
  --lpink-color: rgb(231, 184, 204);
  --mpink-color: rgb(209, 133, 166);
  --dpink-color: rgb(183, 77, 130);
  --lgold-color: rgb(243, 240, 229);
  --mgold-color: rgb(240, 230, 193);
  --dgold-color: rgb(245, 220, 132);
}

/* backgrounds */
.bg-white {
  background: var(--white-color);
}

.bg-black {
  background: var(--black-color);
}

.bg-mblue {
  background: var(--mblue-color);
}

.bg-lblue {
  background: var(--lblue-color);
}

.bg-dblue {
  background: var(--dblue-color);
}

.bg-lnavy {
  background: var(--lnavy-color);
}

.bg-mnavy {
  background: var(--mnavy-color);
}

.bg-dnavy {
  background: var(--dnavy-color);
}

.bg-lpink {
  background: var(--lpink-color);
}

.bg-mpink {
  background: var(--mpink-color);
}

.bg-dpink {
  background: var(--dpink-color);
}

.bg-lgold {
  background: var(--lgold-color);
}

.bg-mgold {
  background: var(--mgold-color);
}

.bg-dgold {
  background: var(--dgold-color);
}

/* text colors */
.tc-white {
  color: var(--white-color);
}

.tc-dnavy {
  color: var(--dnavy-color);
}

/* formatting */
.card {
  padding: 12px;
  width: 25%;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .card {
    width: 100%
  }
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: right;
  font-weight: 400;
  min-width: 90px;
}

.nav-item a {
  text-transform: uppercase;
  text-decoration: none;
}

.nav-item .active {
  font-weight: 600;
}

.nav-item a.active:hover {
  font-size: inherit;
}

@media screen and (max-width: 500px) {
  .nav-item {
    justify-content: center;
  }
}

.material-icons {
  color: inherit;
  margin: 4px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* error pages */
.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.error .title {
  color: var(--dpink-color);
  display: inline-block;
  vertical-align: middle;
}

.error-code {
  border-right: 1px solid;
  margin-right: 24px;
  padding: 12px 24px 12px 0px;
}

/* resume */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 6px;
  margin: 0;
  margin-bottom: 24px;
  width: 100%;
  max-width: 700px;
}

.resume-section-info {
  border: 1px solid;
  border-radius: 8px;
  padding: 0px 18px 18px 18px;
  width: 90%;
}

/* carousel */
.carousel {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px;
}

@media only screen and (min-width: 400px) {
  .carousel {
    min-height: 200px;
  }
}

@media only screen and (min-width: 500px) {
  .carousel {
    min-height: 140px;
  }
}

@media only screen and (min-width: 700px) {
  .carousel {
    min-height: 105px;
  }
}

.carousel-slides {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.carousel-slide {
  display: none;
  font-size: 14px;
}

.visible {
  display: inline;
}