/* defaults */
html, body {
  background-color: var(--mblue-color);
  display: flex;
  font-family: 'Montserrat', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, -apple-system;
  font-weight: 200;
  height: 100vh;
  margin: 0;
  width: 100vw;
}
main {
  flex-grow: 1;
  padding: 24px;
  width: calc(100vw - 48px);
}
header {
  align-items: center;
  display: flex;
  padding: 0px 24px;
}
nav {
  display: flex;
  flex-direction: column;
  text-align: end;
}
@media screen and (max-width: 500px) {
  header { flex-direction: column; }
  nav { flex-direction: row; }
}
footer {
  display: flex;
  justify-content: center;
  padding: 24px;
}
hr { border: 1px solid inherit; }
h1 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 44px;
  letter-spacing: 0.12em;
  line-height: 1.2em;
}
h2 { font-size: 32px; line-height: 1.2em; }
h3 { font-size: 28px; line-height: 1.2em; color: var(--dpink-color); }
h4 { font-size: 24px; line-height: 1.2em; }
h5 { font-size: 20px; line-height: 1.2em; color: var(--dpink-color); }
p { font-size: 18px; line-height: 1.2em; }
blockquote { font-size: 16px; line-height: 1.2em; margin: 12px; }
pre {
  font-size: 14px;
  line-height: 1.2em;
  white-space: pre-wrap;
}
a {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}
a:hover { filter: brightness(90%); font-weight: 400; }
button { background: none; border: none; cursor: pointer; margin: 0; padding: 0; }

/* colors */
:root {
  --white-color: rgb(232, 241, 255);
  --black-color: rgb(34, 37, 42); /* #22252A */
  --lblue-color: rgb(183, 208, 247); /* #b7d0f7 */
  --mblue-color: rgb(135, 178, 241);
  --dblue-color: rgb(90, 147, 233);
  --lnavy-color: rgb(64, 104, 163);
  --mnavy-color: rgb(51, 89, 145); /* #335991 */
  --dnavy-color: rgb(29, 59, 104);
  --lpink-color: rgb(254, 222, 242);
  --mpink-color: rgb(231, 184, 204);
  --dpink-color: rgb(209, 133, 166);
  --lgold-color: rgb(243, 240, 229);
  --mgold-color: rgb(240, 230, 193);
  --dgold-color: rgb(245, 220, 132);
}
/* backgrounds */
.bg-white { background: var(--white-color); }
.bg-black { background: var(--black-color); }
.bg-mblue { background: var(--mblue-color); }
.bg-lblue { background: var(--lblue-color); }
.bg-dblue { background: var(--dblue-color); }
.bg-lnavy { background: var(--lnavy-color); }
.bg-mnavy { background: var(--mnavy-color); }
.bg-dnavy { background: var(--dnavy-color); }
.bg-lpink { background: var(--lpink-color); }
.bg-mpink { background: var(--mpink-color); }
.bg-dpink { background: var(--dpink-color); }
.bg-lgold { background: var(--lgold-color); }
.bg-mgold { background: var(--mgold-color); }
.bg-dgold { background: var(--dgold-color); }
/* text colors */
.tc-white { color: var(--white-color); }
.tc-dnavy { color: var(--dnavy-color); }

/* formatting */
.card { padding: 24px 12px; width: 25%; }
.nav-item { margin-bottom: 6px; }
.nav-item .inactive { color: var(--dnavy-color); }
@media screen and (max-width: 500px) { .nav-item { margin: 0px 6px 12px; } }
.material-icons { color: inherit; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* error pages */
.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.error .title {
  color: var(--dpink-color);
  display: inline-block;
  vertical-align: middle;
}
.error-code {
  border-right: 1px solid;
  margin-right: 24px;
  padding: 12px 24px 12px 0px;
}

/* resume */
.resume-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
  gap: 12px;
}
.resume-section-info {
  border: 1px solid;
  border-radius: 8px;
  padding: 0px 18px 18px 18px;
  width: 90%;
  max-width: 600px;
}

/* carousel */
.carousel {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px;
}
@media only screen and (min-width: 400px) {
  .carousel { min-height: 200px; }
}
@media only screen and (min-width: 500px) {
  .carousel { min-height: 140px; }
}
@media only screen and (min-width: 700px) {
  .carousel { min-height: 105px; }
}
.carousel-slides {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
.carousel-slide {
  display: none;
  font-size: 14px;
}
.visible {
  display: inline;
}

/* switch component */
.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}
.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 24px;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
  border: 1px solid var(--lblue-color);
  background: var(--mblue-color);
}
.react-switch-label .react-switch-button {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 45px;
  transition: 0.2s;
  border: 1px solid var(--lblue-color);
  background: var(--mblue-color);
}
.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}
.react-switch-checkbox:checked + .react-switch-label {
  background: var(--dblue-color);
}
.react-switch-label:active .react-switch-button {
  width: 28px;
}
@media (prefers-color-scheme: dark) {
  body {
    color: var(--blue-color);
    background-color: var(--black-color);
  }
  footer {
    border-top: 1px solid var(--pink-color);
  }
  .react-switch-label {
    border: 1px solid var(--pink-color);
    background: var(--dark-color);
  }
  .react-switch-label .react-switch-button {
    border: 1px solid var(--pink-color);
    background: var(--navy-color);
  }
  .react-switch-checkbox:checked + .react-switch-label {
    background: var(--pink-color);
  }
}
@media (prefers-color-scheme: light) {
  body {
    color: var(--black-color);
    background-color: var(--white-color);
  }
  footer {
    border-top: 1px solid var(--black-color);
  }
  .react-switch-label {
    border: 1px solid var(--black-color);
    background: var(--pink-color);
  }
  .react-switch-label .react-switch-button {
    border: 1px solid var(--black-color);
    background: var(--white-color);
  }
  .react-switch-checkbox:checked + .react-switch-label {
    background: var(--black-color);
  }
}