/* defaults */
html, body, main {
  display: flex;
  font-family: 'Montserrat', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, -apple-system;
  font-weight: 200;
  height: 100vh;
  margin: 0;
  width: 100vw;
}
main { padding: 24px; height: auto; }
header {
  align-items: center;
  display: flex;
  margin-right: 48px;
  padding: 0px 24px;
}
nav {
  display: flex;
  flex-direction: column;
  text-align: end;
}
@media screen and (max-width: 500px) {
  header { flex-direction: column; }
  nav { flex-direction: row; }
}
footer {
  display: flex;
  justify-content: center;
  margin-right: 48px;
  padding: 24px;
}
hr { border: 1px solid inherit; }
h1 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 48px;
  letter-spacing: 0.12em;
  line-height: 1.2em;
}
h2 { font-size: 36px; line-height: 1.2em; }
h3 { font-size: 30px; line-height: 1.2em; }
h4 { font-size: 24px; line-height: 1.2em; }
p { font-size: 18px; line-height: 1.2em; }
blockquote { font-size: 12px; line-height: 1.2em; }
pre {
  font-size: 15px;
  line-height: 1.2em;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
}
a {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}
a:hover { filter: brightness(90%); }

/* colors */
:root {
  --white-color: rgb(232, 241, 255);
  --black-color: rgb(34, 37, 42); /* #22252A */
  --lblue-color: rgb(183, 208, 247); /* #b7d0f7 */
  --mblue-color: rgb(135, 178, 241);
  --dblue-color: rgb(90, 147, 233);
  --lnavy-color: rgb(64, 104, 163);
  --mnavy-color: rgb(51, 89, 145); /* #335991 */
  --dnavy-color: rgb(29, 59, 104);
  --lpink-color: rgb(254, 222, 242);
  --mpink-color: rgb(231, 184, 204);
  --dpink-color: rgb(209, 133, 166);
  --lgold-color: rgb(243, 240, 229);
  --mgold-color: rgb(240, 230, 193);
  --dgold-color: rgb(245, 220, 132);
}
/* backgrounds */
.bg-white { background: var(--white-color); }
.bg-black { background: var(--black-color); }
.bg-mblue { background: var(--mblue-color); }
.bg-lblue { background: var(--lblue-color); }
.bg-dblue { background: var(--dblue-color); }
.bg-lnavy { background: var(--lnavy-color); }
.bg-mnavy { background: var(--mnavy-color); }
.bg-dnavy { background: var(--dnavy-color); }
.bg-lpink { background: var(--lpink-color); }
.bg-mpink { background: var(--mpink-color); }
.bg-dpink { background: var(--dpink-color); }
.bg-lgold { background: var(--lgold-color); }
.bg-mgold { background: var(--mgold-color); }
.bg-dgold { background: var(--dgold-color); }
/* text colors */
.tc-white { color: var(--white-color); }
.tc-dnavy { color: var(--dnavy-color); }

/* formatting */
.card { margin: 6px; padding: 12px; width: 27%; }
.nav-item { margin-bottom: 6px; }
.nav-item .active { color: var(--dnavy-color); }
@media screen and (max-width: 500px) { .nav-item { margin: 0px 6px 12px; } }

/* error pages */
.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.error .title {
  color: var(--dpink-color);
  display: inline-block;
  vertical-align: middle;
}
.error-code {
  border-right: 1px solid;
  margin-right: 24px;
  padding: 12px 24px 12px 0px;
}
