.button {
  background-color: inherit;
  border-radius: 48px;
  border: 2px solid var(--third-color);
  color: inherit;
  display: inline-block;
  font: inherit;
  margin: 12px 0px;
  padding: 6px 12px;
  outline: none;
  text-decoration: none;
}
.button:hover {
  filter: brightness(81%);
}

/*  COLORS  */
.light, .dark {
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}
/* switch component */
.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}
.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 24px;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
  border: 1px solid var(--lblue-color);
  background: var(--mblue-color);
}
.react-switch-label .react-switch-button {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 45px;
  transition: 0.2s;
  border: 1px solid var(--lblue-color);
  background: var(--mblue-color);
}
.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}
.react-switch-checkbox:checked + .react-switch-label {
  background: var(--dblue-color);
}
.react-switch-label:active .react-switch-button {
  width: 28px;
}
@media (prefers-color-scheme: dark) {
  body {
    color: var(--blue-color);
    background-color: var(--black-color);
  }
  footer {
    border-top: 1px solid var(--pink-color);
  }
  .react-switch-label {
    border: 1px solid var(--pink-color);
    background: var(--dark-color);
  }
  .react-switch-label .react-switch-button {
    border: 1px solid var(--pink-color);
    background: var(--navy-color);
  }
  .react-switch-checkbox:checked + .react-switch-label {
    background: var(--pink-color);
  }
}
@media (prefers-color-scheme: light) {
  body {
    color: var(--black-color);
    background-color: var(--white-color);
  }
  footer {
    border-top: 1px solid var(--black-color);
  }
  .react-switch-label {
    border: 1px solid var(--black-color);
    background: var(--pink-color);
  }
  .react-switch-label .react-switch-button {
    border: 1px solid var(--black-color);
    background: var(--white-color);
  }
  .react-switch-checkbox:checked + .react-switch-label {
    background: var(--black-color);
  }
}

/*  SPACING  */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* For Desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}

/* Font-Awesome ICONS */
.fa, .fab, .far, .fas {
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin: 3px;
  outline: none;
  padding: 6px 4px;
  width: 20px;
}
.fa:hover, .fab:hover, .far:hover, .fas:hover { filter: brightness(81%); }
.left {
  transform: scaleX(1);
}
.right {
  transform: scaleX(-1);
}

/* CAROUSEL */
.carousel {
  width: 100%;
  min-height: 310px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px;
}
@media only screen and (min-width: 400px) {
  .carousel { min-height: 260px; }
}
@media only screen and (min-width: 600px) {
  .carousel { min-height: 140px; }
}
@media only screen and (min-width: 800px) {
  .carousel { min-height: 100px; }
}
@media only screen and (min-width: 1000px) {
  .carousel { min-height: 80px; }
}
.carousel-slides {
  flex-grow: 1;
  margin: 0px;
  padding: 0px 12px;
}
.carousel-slide {
  display: none;
  font-size: 14px;
}
.visible {
  display: inline;
}

.flx-break {
  flex-basis: 100%;
  width: 0;
  height: 0;
}

/* resume */
.resume-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.resume-section-info {
  border-style: solid;
  border-width: 1px;
  padding: 0px 18px 18px 18px;
  margin-bottom: 6px;
}
